@import url('https://fonts.googleapis.com/css2?family=Hurricane&family=Ms+Madi&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&family=Water+Brush&family=Whisper&display=swap');
:root{
    --main-color: rgb(255, 181, 131);
    --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    --white: rgb(255,255,255);
    --black: rgb(0,0,0);
    --light-dark: rgb(27, 27, 27);
}
*{
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
}
*::selection{
    background-color: var(--main-color);
    color: var(--white);
}
::-webkit-scrollbar{
    height: .5rem;
    width: 20px;
}
::-webkit-scrollbar-track{
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}
html{
    overflow-x: hidden;
    font-size: 62.5%;
    scroll-behavior: smooth;
    background-color: rgb(255, 255, 255);
}
body{
    overflow-x: hidden;
}
header{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 15vh;
    box-shadow: var(--box-shadow);
    overflow: hidden;
    z-index: 100;   
}
header .logo img{
    width: 70px;
}
header nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
header nav a{
    font-size: 2em;
    text-transform: capitalize;
    color: var(--black);
    transition: all .3s;
}
header nav a:hover{
    color: var(--main-color);
    text-decoration: underline;
}
header .login a{
    color: var(--black);
    font-size: 2em;
    text-transform: capitalize;
    transition: all .3s;
}
header .login a:hover{
    color: var(--main-color);
    text-decoration: underline;
}
.home{
    height: 85vh;
    background-image: url(../images/main.jpg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.home .txt{
    position: absolute;
    top: 30%;
    left: 4%;
    background: rgba(255, 255, 255, 0.3);
    padding: 3rem;
}
.home .txt h1{
    font-family: 'Hurricane', cursive;
    font-size: 9em;
    font-weight: 300;
    color: #000;
}
.home .txt p{
    font-size: 1.5em;
    line-height: 1.8;
    width: 400px;
    color: #000;
}
.home .txt button{
    padding: 10px 30px;
    margin-top: 3rem;
    background-color: var(--light-dark);
    color: var(--white);
    font-size: 1.5em;
    text-transform: capitalize;
    transition: all 0.5s;
}
.home .txt button:hover{
    color: var(--main-color);
}
.about{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about .container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.about .container h2{
    font-size: 7em;
    font-weight: 300;
    text-transform: capitalize;
    margin: 30px 0;
    font-family: 'Hurricane', cursive;
}
.about .container h2 span{
    color: var(--main-color);
    font-family: 'Hurricane', cursive;
}
.about .container .content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
.about .container .content .image{
    overflow: hidden;
    box-shadow: var(--box-shadow);
}
.about .container .content .image img{
    width: 300px;
    transition: all 0.5s;
}
.about .container .content .image img:hover{
    transform: scale(1.2);
}
.about .container .content .txt h3{
    font-weight: 300;
    font-size: 4em;
    text-transform: capitalize;
    margin: 1rem 0;
    border-left: 7px solid var(--main-color);
    padding-left: 10px;
}
.about .container .content .txt p{
    width: 500px;
    font-size: 1.5em;
    line-height: 1.8;
    margin-bottom: 20px;
}
.about .container .content .txt a{
    font-size: 2em;
    padding: 10px 30px;
    background-color: var(--black);
    color: var(--white);
    text-transform: capitalize;
    transition: all 0.5s;
}
.about .container .content .txt a span{
    color: var(--main-color);
}
.products{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
}
.products h3{
    font-size: 7em;
    text-transform: capitalize;
    font-weight: 300;
    font-family: 'Hurricane', cursive;
}
.products .products-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
}
.products .products-container .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: var(--box-shadow);
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid var(--main-color);
    transition: all .7s;
}
.products .products-container .box:hover{
    background-color: var(--main-color);
    border: 2px solid var(--white);
}
.products .products-container .box .image{
    overflow: hidden;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--main-color);
}
.products .products-container .box .image img{
    width: 300px;
    transition: all .7s;
}
.products .products-container .box .image img:hover{
    transform: scale(1.1);
}
.products .products-container .box .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.products .products-container .box .content p{
    font-size: 2em;
    text-transform: capitalize;
    margin-top: 10px;
    font-weight: 400;
}
.products .products-container .box .price p{
    font-size: 2em;
}
.products .products-container .box .price p span{
    color: red;
    text-decoration: line-through;
    font-size: .7em;
}
.products .products-container .box button{
    font-size: 2em;
    text-transform: capitalize;
    font-weight: 300;
    padding: 5px 20px;
    width: 300px;
    background-color: var(--main-color);
    color: var(--black);
    transition: all .7s;
}
.products .products-container .box button:hover{
    background-color: var(--white);
}
.contact{
    min-height: 60vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
.contact h3{
    font-size: 7em;   
    color: var(--white);
    font-weight: 300;
    text-transform: capitalize;
    font-family: 'Hurricane', cursive;
    padding-bottom: 3px;
    border-bottom: 1px solid var(--main-color);
}
.contact .contact-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-content: center;
}
.contact .contact-container .quick-links{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contact .contact-container .quick-links p{
    font-size: 3em;
    font-weight: 300;
    color: var(--white);
    text-transform: capitalize;
}
.contact .contact-container .quick-links a{
    color: var(--white);
    font-size: 2em;
    text-transform: capitalize;
    font-weight: 200;
    transition: all 0.7s;
}
.contact .contact-container .quick-links a:hover{
    transform: translateX(10px);
    color: var(--main-color);
}
.contact .contact-container .quick-links a i{
    color: var(--main-color);
    margin-right: 10px;
}
.contact .contact-container .social-media{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contact .contact-container .social-media p{
    font-size: 3em;
    font-weight: 300;
    color: var(--white);
    text-transform: capitalize;
}
.contact .contact-container .social-media a{
    font-size: 2rem;
    color: var(--white);
    font-weight: 200;
    text-transform: capitalize;
    transition: all .7s;
}
.contact .contact-container .social-media a:hover{
    color: var(--main-color);
}
.contact .contact-container .social-media a i{
    color: var(--main-color);
    margin-right: 10px;
}
.contact .contact-container .contact-us{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contact .contact-container .contact-us p{
    font-size: 3em;
    color: var(--white);
    text-transform: capitalize;
    font-weight: 300;
}
.contact .contact-container .contact-us a{
    font-size: 2rem;
    color: var(--white);
    font-weight: 200;
    text-transform: capitalize;
    transition: all .7s;
}
.contact .contact-container .contact-us a:hover{
    color: var(--main-color);
}
.contact .contact-container .contact-us a i{
    color: var(--main-color);
    margin-right: 10px;
}
















@media (max-width: 991px) {
    html{
        font-size: 55%;
    }
}
@media (max-width: 450px) {
    html{
        font-size: 50%;
    }
    header .logo img {
        width: 50px;
    }
    header nav{
        gap: 10px;
    }
    .home .txt{
        width: 90%;
    }
    .home .txt h1{
        font-size: 50px;
    }
    .home .txt p{
        line-height: 1.3;
        font-size: 15px;
        width: 300px;
    }
    .home .txt button{
        padding: 5px 15px;
    }.about .container .content .image img{
        width: 250px;
    }
    .about .container .content .txt{
        margin-left: 20px;
    }
    .about .container .content .txt h3{
        font-size: 23px;
    }
    .about .container .content .txt p{
        width: 90%;
        font-size: 15px;
        
    }
    .products .products-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 3rem;
    }
    .contact .contact-container{
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
        
    }
}